@charset "utf-8";



/* .div-off {
  display: none !important;
 Deixa a div ivisivel
-----------------------
centraliza a div
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}*/

* {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}



body {
  background-color: #444;
}

div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 300px;
  border-radius: 50%;
}
p {
  color: aliceblue;
  font-size: 5rem;
  text-align: center;
  margin-top: 50px;
}

.div-off {
  display: none !important;
}

#um {
  background-color: rgba(255, 255, 0, 0.692);
}

#dois {
  background-color: black;
}

#tres {
  background-color: blueviolet;
}
