@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #829fd9d7,#99b7f9d2);
    text-align:center;
}


h1{color: #273273;
    text-shadow: 2px 2px 2px  #27337488;
    text-align:center;

}

h2{color: #4E64A6;
    

}
p{color: #131A40;

}

button{
    font-size: 25px;
cursor: pointer;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 10px;

}
button:hover{background-color:#2732735b ;
}

